@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-straight/css/uicons-thin-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.hidden {
  display: none;
}

html {
  box-sizing: border-box;
}
body {
  overflow: auto;
  background: rebeccapurple;
  transition: background 15s ease;
  padding: 0px;
  margin: 0px;
  font-family: "Elido", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: calc(100% - 20px);
  padding: 20px;
  z-index: 100;
  margin: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
ul {
  list-style: none;
  display: flex;
}
.nav li {
  padding-left: 60px;
}
.nav i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.nav span {
  font-size: 30px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}
.nav button {
  background-color: transparent;
  border: 0;
}
.main {
  height: calc(100% - 70px);
  width: calc(100% - 900px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 80px;
  text-align: center;
}
.main i {
  font-size: 48px;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
  padding-top: 2px;
}
.main i:hover {
  color: rgba(255, 255, 255, 1);
}
.main .noise {
  display: grid;
  grid-template-rows: 65% 35%;
  margin-bottom: 20px;
}
.slider {
  background-color: transparent;
}
.noise button {
  background-color: transparent;
  border: 1px;
  margin: 0;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 70%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}
.playlists {
  height: 150px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjusted to use fractional units */
  margin-left: 300px; /* Center the playlists div horizontally */
  margin-right: 300px;
  margin-top: 100px;
  text-align: center;
  border-radius: 10px;
  gap: 50px;
}
.playlists > * {
  justify-content: center;
  align-items: center;
}
.preset {
  display: grid;
  grid-template-rows: 65% 35%;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}
.preset:hover {
  transform: translateY(-20px);
}
.prod:hover,
.read:hover,
.write:hover {
  transform: translateY(-20px);
}
.playlists i {
  font-size: 42px;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
}
.playlists i:hover {
  color: rgba(255, 255, 255, 1);
}
.playlists button {
  background-color: transparent;
  border: 1px;
  margin-top: 30px;
}
.playlist_names {
  height: 100px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjusted to use fractional units */
  margin-left: 200px; /* Center the playlists div horizontally */
  margin-right: 200px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  gap: 50px;
}
.playlist_names > * {
  justify-content: center;
  align-items: center;
}
.preset span {
  font-size: 10px;
  color: white;
  text-align: center;
  align-items: center;
  letter-spacing: 1px;
}
