@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: rebeccapurple;
  transition: background 15s ease;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: calc(100% - 20px);
  padding: 0 6rem;
  z-index: 100;
  margin: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
ul {
  list-style: none;
  display: flex;
}
.nav li {
  padding: 30px;
}
.nav i {
  font-size: 20px;
}
.nav span {
  font-size: 30px;
  font-weight: 700;
}
.nav button {
  background-color: transparent;
  border: 0;
}
