* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: rebeccapurple;
  transition: background 10s ease;
  padding: 0px;
  margin: 0px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: calc(100% - 20px);
  padding: 0 6rem;
  z-index: 100;
  margin: 10px;
}
ul {
  list-style: none;
  display: flex;
}
.nav li {
  padding: 10px;
}
.nav i {
  font-size: 24px;
}
